@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img src="~/images/logo.png" alt="" class="img-fluid" /> 
    <p>Your one-stop destination for exquisite handcrafted items.</p>
</div>

<section>
    <h2>Our Mission</h2>
    <p>
        At KhumaloCraft, we aim to connect talented artisans from around the world with enthusiasts of unique, handcrafted products.
        Discover a diverse collection of crafts that tell a story, each piece meticulously crafted with love and dedication.
    </p>
</section>

<section>
    <h2>Featured Crafts</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/1.jpg" class="card-img-top" alt="Craft Image">
                <div class="card-body">
                    <h5 class="card-title">Handcrafted Oak Floor Lamp</h5>
                    <p class="card-text">Elevate your space with this minimalist-designed, handcrafted floor lamp. Made from 100% FSC-certified solid oak, this piece not only illuminates your bedroom, nursery, or living room but also serves as a timeless art piece, adding warmth and elegance to any interior.</p>
                    <a href="@Url.Action("MyWork", "KhumaloCraft")" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/2.jpg" class="card-img-top" alt="Craft Image">
                <div class="card-body">
                    <h5 class="card-title">Elegant Oak Ambient Lamp</h5>
                    <p class="card-text">Experience the beauty of simplicity with our handcrafted oak ambient lamp. Its minimalist design and solid oak construction bring a natural, refined touch to any setting. Perfect for those who appreciate the subtle interplay of light and craftsmanship.</p>
                    <a href="@Url.Action("MyWork", "KhumaloCraft")" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
